body {
    margin-left: 30px;
}

#panda {
    width: 600px;
    height: auto;
    position: center;
    margin-left: 30%;
}

h2 {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 25px;
    color: rgb(12, 179, 68);
    font-weight: bold;
    margin-left: 30%;
}

.subheader {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 18%;
    color: #105e39;
    font-size: 30px;
 
}
.intro {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-right: 200px;
    color: #122f19;
    font-family: "Verdana", sans-serif; 
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.bald-idea {
    margin-left: 30px;
    margin-right: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "Verdana", sans-serif; 
    color: blueviolet;
}

.main-text {
    font-family: "Verdana", sans-serif;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 100px;
    font-size: 25px;
    font-weight: bold;
    background-color: #42e096;
  }

  .main-text:hover {
    background-color: rgb(45, 232, 32);
  }

  #text-more {
    font-family: 'Arial', sans-serif;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 100px;
    font-size: 25px;
    background-color: #b1f1d3;
    font-style: italic;
  }
  
  #text-more:hover {
    background-color: aqua;
  }